{% extends 'base.html' %}
{% block title%}使用介紹{% endblock title%}
{% block message %}
<link href="../static/css/heroes.css" rel="stylesheet">    
<body background="../static/pictures/bg.png" class="">
    <div class="bg-dark px-4 text-white py-5 text-center">
        <h1 class="display-5 fw-bold text-white">歡迎使用中大校園植物辨識系統</h1>
        <p>下滑查看更多資訊</p>
    </div>

    <div class="b-example-divider mb-0"></div>

    <div class="bg-dark text-white px-5 py-5 my-auto text-center">
        <img class="img-thumbnail float-start" height="150px" width="150px" src="../static/pictures/line頭貼.jpg">
        <h1 class="display-5 fw-bold">加入Line好友
            <img class="img-thumbnail float-end justify-content-center" height="100" width="100" src="../static/pictures/QRcode.png">
        </h1>
        <p class="lead mb-4">
            掃描右方QRCODE，加入官方帳號，即可使用聊天機器人辨識花朵。
            
        </p>
    </div>

    <div class="b-example-divider"></div>
        <div class="bg-dark px-4 text-white px-4 pt-5 my-5 text-center border-bottom">
            <h1 class="display-4 fw-bold">上傳照片</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">將花朵的照片上傳，聊天及汽人將會提供該花卉的名稱與相關資訊</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
            </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
                <img src="bootstrap-docs.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>

    <div class="b-example-divider"></div>
        <div class="bg-dark text-white container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="../static/pictures/S__63168605.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">目前可辨識的植物種類</h1>
                    <p class="lead">進到官方網站欣賞更多中大美景</p>
                    <a class="contain-fluid" role="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        前往圖片集
                    </a>
    
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">即將離開網頁</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    確定前往前往圖片集嗎?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                    <a role="button" class="btn btn-success" href="/picture/1">前往</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="b-example-divider"></div>
    <div class="bg-dark text-white container my-5">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">聯絡資訊</h1>
        <p class="lead">任何建議或可改進的地方，歡迎隨時聯繫我們，持續追加中大各個角落的美麗植物</p>
        </div>
    </div>

    <div class="b-example-divider"></div>
</body>
{% endblock message %}